/* Buttons */

.button-primary {
  display: inline-block;
  padding: 8px 16px;
  min-width: 120px;
  text-align: center;
  border-radius: 4px;
  background-color: var(--primary-color);
  color: #ffffff !important;
  border: 1px solid var(--primary-color);
  text-decoration: none;
}
.button-primary:hover {
  background-color: var(--primary-color-light);
  color: #ffffff;
  border: 1px solid var(--primary-color-light);
  text-decoration: none;
}

.button-secondary {
  display: inline-block;
  padding: 8px 16px;
  min-width: 120px;
  text-align: center;
  border-radius: 4px;
  background-color: none;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  text-decoration: none;
}
.button-secondary:hover {
  background-color: var(--primary-color-light);
  color: #ffffff;
  border: 1px solid var(--primary-color-light);
  text-decoration: none;
}


.button-secondary-white {
  display: inline-block;
  padding: 8px 16px;
  min-width: 120px;
  text-align: center;
  border-radius: 4px;
  background-color: none;
  color: var(--color-white);
  border: 1px solid var(--color-white);
  text-decoration: none;
}
.button-secondary-white:visited {
  color: #ffffff;
}
.button-secondary-white:hover {
  background-color: var(--color-light-hover);
  color: #ffffff;
  border: 1px solid var(--color-white);
  text-decoration: none;
}

.button-primary:focus,
.button-secondary:focus,
.button-secondary-white:focus {
  text-decoration: none;
}