:root {
    /* Colors */
    --primary-color:rgb(81, 186, 111);
    --primary-color-light:rgb(90, 211, 124);
    --primary-color-dark: rgb(58, 141, 82);
    --secondary-color:rgb(9, 125, 182);
    --secondary-color-extra-light:rgb(239 249 255);
    --secondary-color-light:rgb(54, 171, 230);
    --secondary-color-dark:rgb(0, 92, 139);

    --text-color:#1e1e1e;
    --text-color-light:#6c757d;

    --color-dark:#1e1e1e;
    --color-light:#e6e6e6;
    --color-light-hover:#e6e6e625;
}

/* rgb(0, 146, 148); */