@import 'colors.css';
@import 'fonts.css';
@import 'buttons.css';
@import 'sidebar.css';
@import 'header.css';
@import 'footer.css';
@import 'recursos-visuais.css';

.figure-caption {
  font-size: 75%;
  color: #6c757d;
  text-align: center;
}

.figure-caption .fonte,
.fonte,
.video-subtitle {
  font-size: 75%;
  color: #6c757d;
  text-align: center;
}

.figure-caption a,
.figure-caption a:visited,
.video-subtitle,
.video-subtitle a,
.video-subtitle a:visited {
  color: #6c757d;
  font-weight: 500;
  text-decoration: none;
}
 {
}

body {
  background-color: #fbfbfb;
  font-size: 1.25rem;
}

.main {
  position: relative;
}

/* #page-content {
    min-height: 100vh;
} */

section {
  padding: 40px 0;
}

section .page-nav {
  border-top: 1px solid var(--color-light);
  padding: 40px 0;
  flex-direction: row;
}

section .page-nav .button-primary {
  min-width: 30%;
}

@media (max-width: 767.1px) {
  section .page-nav {
    flex-direction: column;
  }
}

@media (max-width: 1199px) {
  section .page-nav .button-primary {
    min-width: 40%;
  }
}

/* SVG Mapa do Brasil */
svg .info .has-info {
  cursor: pointer;
}
svg .info .has-info:hover .has-info--hover {
  mix-blend-mode: color;
}
